alembic==1.3.1
arrow==0.15.4
certifi==2019.11.28
chardet==3.0.4
click==7.0
datetime==4.3
decorator==4.4.1
dominate==2.4.0
flask==1.1.1
flask-bootstrap==3.3.7.1
flask-cdn==1.5.3
flask-googlemaps==0.2.6
flask-login==0.4.1
flask-migrate==2.5.2
flask-sqlalchemy==2.4.1
flask-wtf==0.14.2
geographiclib==1.50
geopy==1.20.0
googlemaps==3.1.4
idna==2.8
infinity==1.4
intervals==0.8.1
itsdangerous==1.1.0
jinja2==2.10.3
mako==1.1.0
markupsafe==1.1.1
motionless==1.3.2
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlalchemy==1.3.11
stravalib==0.10.2
units==0.07
urllib3==1.25.7
validators==0.14.0
visitor==0.1.3
werkzeug==0.16.0
wtforms==2.2.1
wtforms-components==0.10.4
zope.interface==4.7.1
