{% extends "base.html" %}

{% block app_content %}
    <main role="main" class="container">
        <h1>About</h1>
        <p>Greenamer was born out of a a combined desire to learn more Python and add a feature to Strava I felt should have
            been there already. You can learn more about it <a href="https://nsaritzky.github.io/greenamer.html">here</a>.
            The name comes from Green Lake in Seattle and the <a
                    href="https://www.meetup.com/Seattle-Greenlake-Running-Group/">Seattle Green Lake Running Group</a>.</p>
    </main>

{% endblock %}