{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <h1>Rules</h1>
            {% for rule in current_user.rules.all() %}
                <div class="row align-items-start justify-content-start bg-light mb-1">
                        <div class="col">
                            {{ rule.address }}
                        </div>
                        <div class="col">
                            <button type="button"
                                    class="btn"
                                    data-toggle="popover"
                                    data-html="true"
                                    data-content="<img src={{ map_urls[rule.id] }}>">
                            Map
                            </button>
                            <a id="popover-content({{ rule.id }})" style="display: none;">
                                <img src="{{ map_urls[rule.id] }}">
                            </a>
                        </div>
                        <div class="col">
                            {{ rule.time.strftime('%As at %I:%M%p') }}
                        </div>
                        <div class="col">
                            {{ rule.activity_name }}
                        </div>
                        <div class="float-right">
                            <form method="POST">
{#                            <div class="btn-group" role="group" aria-label="Edit or delete rule">#}
{#                                <button type="submit" class="btn btn-primary">#}
{#                                    <i class="fas fa-edit"></i>#}
{#                                </button>#}
                                {{ delete_forms[rule.id].hidden_tag() }}
                                {{ delete_forms[rule.id].submit(class_="btn btn-danger") }}
{#                            </div>#}
                            </form>
                        </div>
                </div>
            {% endfor %}
        <div class="col-md">
            {{ form.csrf_token }}
            {{ wtf.quick_form(form, form_type="inline")}}
        </div>
    </div>
{% endblock %}